# Build outputs
**/bin/
**/obj/
**/publish/
*.user
*.suo
*.dll
*.exe
*.pdb
*.cache

# Sensitive configs
appsettings.Development.json
appsettings.Production.json
*.secret
site-settings.json
/wwwroot/site-settings.json

# Uploads and temp
**/wwwroot/uploads/
**/wwwroot/temp/

# Data Protection keys 
**/keys/

# Environment files 
*.env
.env

# Certificates
*.pfx
*.p12